.about {
    &__container {
        padding: 10vh 8vw;
    }

    &__overtitle {
        color: #595959;
        font-family: "Myriad Pro";
        font-size: 1.2rem;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        letter-spacing: 4.8px;
        text-transform: uppercase;
        margin-bottom: .6rem;
    }

    &__title {
        color: #595959;
        font-family: "Kanit", sans-serif;

        font-size: 2.5rem;
        font-style: normal;
        font-weight: 800;
        line-height: normal;
        text-transform: capitalize;
        margin-bottom: 2.25rem;
    }

    &__image {
        width: 100%;
        height: auto;
        object-fit: cover;
    }

    &__pillars {
        &__container {
            display: flex;
            gap: 3rem;
            margin: 5rem 0 7rem 0;
        }

        &__left {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;

            &__item {
                width: 40%;
                position: relative;
                display: flex;
                align-items: center;

                p {
                    color: #000;
                    font-family: "Kanit", sans-serif;

                    font-size: 1.25rem;
                    font-style: normal;
                    font-weight: 900;
                    line-height: normal;
                    text-transform: uppercase;
                    padding-left: 2rem;
                }

                div {
                    position: absolute;
                    background: #F8F8F8;
                    width: 5rem;
                    height: 5rem;
                    z-index: -1;
                }
            }
        }

        &__right {
            width: 60%;

            &__title {
                margin-bottom: 1.25rem;
                color: #000;
                font-family: "Kanit", sans-serif;

                font-size: 1.75rem;
                font-style: normal;
                font-weight: 800;
                line-height: 160%;
                /* 64px */
                text-transform: uppercase;
            }

            &__text {
                color: #000;
                font-family: "Kanit", sans-serif;

                font-size: 1rem;
                font-style: normal;
                font-weight: 400;
                line-height: 160%;

                span {
                    font-weight: 800;
                }
            }
        }
    }

    &__diferentials {
        &__overtitle {
            color: #595959;
            text-align: center;
            font-family: "Myriad Pro";
            font-size: 1rem;
            font-style: normal;
            font-weight: 600;
            line-height: normal;
            letter-spacing: 4.8px;
            text-transform: uppercase;
            margin-bottom: 1rem;
        }

        &__title {
            color: #000;
            font-family: "Kanit", sans-serif;

            font-size: 2.5rem;
            font-style: normal;
            font-weight: 800;
            line-height: normal;
            text-transform: uppercase;
            text-align: center;
        }

    }

    &__partnership {
        &__overtitle {
            color: #595959;
            text-align: center;
            font-family: "Myriad Pro";
            font-size: 1rem;
            font-style: normal;
            font-weight: 600;
            line-height: normal;
            letter-spacing: 4.8px;
            text-transform: uppercase;
            margin-bottom: 1rem;
            margin-top: 6rem;
        }

        &__title {
            color: #595959;
            font-family: "Kanit", sans-serif;

            font-size: 2.5rem;
            font-style: normal;
            font-weight: 600;
            line-height: normal;
            text-transform: uppercase;
            text-align: center;
            margin-bottom: 5rem;
        }

        &__perkins {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 3rem;

            &__title {
                width: 300px;
                align-self: center;
            }
        }

        &__perkins__content {
            display: flex;
            gap: 3rem;
            align-items: center;

            &__img {
                aspect-ratio: 1/1;
                border-radius: 999px;
                width: 30%;
            }

            &__info {
                width: 70%;
                height: 100%;
                display: flex;
                gap: 3rem;
                flex-direction: column;
                justify-content: space-between;
                align-items: flex-end;

                &__text {
                    color: #000;
                    font-family: "Kanit", sans-serif;

                    font-size: 1.5rem;
                    font-style: normal;
                    font-weight: 400;
                    line-height: normal;
                    text-align: justify;

                    span {
                        font-weight: 600;
                    }
                }

                &__reference {
                    color: #000;
                    text-align: right;
                    font-family: "Kanit", sans-serif;

                    font-size: .75rem;
                    font-style: normal;
                    font-weight: 400;
                    line-height: normal;
                }

            }
        }
    }

    &__projects {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1rem;
        margin-top: 5rem;

        &__text {
            color: #000;
            font-family:  "Kanit", sans-serif;
;
            font-size: 1.5rem;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            margin-top: 2rem;
            margin-bottom: 1rem;
        }
    }


    
}
.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 3rem;
    padding: 1rem;

    margin-top: 2rem;
}

.grid-container img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.bioma-title { font-size: 2.5em; font-weight: bold; color: black; margin-bottom: 2rem; }

.bioma-subtitle { font-size: 1.2em; color: black; margin-top: 0em; margin-bottom: 1em; font-family:  "Kanit", sans-serif;
; font-weight: 600;}

.bioma-text { font-size: 1em; color: black; line-height: 1.5; font-family:  "Kanit", sans-serif;
;}