.bm{
    &-button--transparent{
        border: solid #1C1C1C 1px;       
        padding: 1rem 2.5rem;
        transition: .5s ease-in-out;
        cursor: pointer;
        
        &:hover{
            background-color: #1C1C1C;
            color: white;
        }
    }
    &-button--lowOpacity{

        border: solid #ffffff66 1px;       
        padding: 1rem 2.5rem;
        transition: .5s ease-in-out;
        background-color: #ffffff60;
        cursor: pointer;
        color: white;
        
        &:hover{
            background-color: #1C1C1C;
            color: #c1c1c1;
        }
    }
    &-soon--transparent{
        border: solid #1C1C1C 1px;       
        padding: 1rem 2.5rem;
        transition: .5s ease-in-out;
        cursor: pointer;
        width: fit-content;
        background-color: #1C1C1C;
        color: white;
    }
    &-button--green{
        border: solid #1C1C1C 1px;       
        padding: 1rem 2.5rem;
        transition: .5s ease-in-out;
        background-color: #8BC441;
        color: white;
        cursor: pointer;
        width: fit-content;
        
        &:hover{
            background-color: transparent;
            color: black;
        }
    }
}

.borders-outside{
    position: fixed;
    z-index: -1;
    width: 82.75vw;
    height: 100%;

    border-left: solid #D9D9D999 1px;
    margin-left: 8vw;
    border-right: solid #D9D9D999 1px;
    margin-right: 8vw;
}

.borders-inside{
    position: fixed;
    z-index: -1;
    width: 30vw;
    height: 100%;
    
    border-left: solid #D9D9D999 1px;
    margin-left: 35vw;

    border-right: solid #D9D9D999 1px;

}
