.swiper-container {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.swiper-slide img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover; /* Maintain aspect ratio */
}

.swiper-slide {
  transition: transform 5s;
}

.swiper-slide.zoomed {
  transform: scale(1.5);
}

.swiper-button-next, .swiper-button-prev{
  color: hsl(0deg 0% 99.61%) !important;
  padding: 0 12px;
  @media screen and (max-width: 460px) {
    display: none !important;    
  }
}

.swiper-pagination-bullet {
  width: fit-content !important;
  border-radius: 4px !important;
  padding: 2px 4px;
  height: 20px !important;
  text-align: center;
  line-height: 20px;
  font-size: 12px;
  color: #d9d9d9;
  opacity: 1;
  background: rgba(0, 0, 0, 0.2);
}

.swiper-pagination-bullet-active {
  color: #fff;
  background: #A6DC60 !important;
}

// .slide-content {
//   position: absolute;
//   left: 20px; /* Ajuste conforme necessário */
//   bottom: 20px; /* Ajuste conforme necessário */
//   color: #fff;
//   z-index: 1000;
// }

.home__slide{
  &__container{
    position: absolute;
    left: 8vw; /* Ajuste conforme necessário */
    bottom: 30vh; /* Ajuste conforme necessário */
    color: #fff;
    z-index: 1000;
    width: 70%;
    
    @media screen and (max-width: 460px) {
      width: 85%;
    }
  }
  &__title{
    color: #FFF;
    font-family: "Kanit", sans-serif;

    font-size: 3rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    &__img{
      position: static !important;
      width: auto !important;
      height: 10rem !important;
      @media screen and (max-width: 460px) {
        width: 75vw !important;
        height: auto !important;
      }
    }
  }
  &__subtitle{
    color: #FFF;
    font-family: "Myriad Pro";
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 4.8px;
    margin-bottom: .75rem;
  }
  &__text{
    font-family: "Kanit", sans-serif;

    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 2.8px;
    margin-top: 1.25rem;
    margin-bottom: 3rem;
    // display: none;
  }
}

.slide-title {
  color: #fff;

  font-family: "Kanit", sans-serif;

  font-size: 3.875rem;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}

.slide-subtitle {
  color: #fff;

  font-family: "Myriad Pro";
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 0.3rem;
}
