// html,
// body {
//   height: 100%;
//   overflow: hidden;
// }
.swiper-container {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.swiper-slide img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover; /* Maintain aspect ratio */
}

.swiper-slide {
  transition: transform 3s;
}

.swiper-slide.zoomed {
  transform: scale(1.5);
}

.slide-content {
  position: absolute;
  left: 20px; /* Ajuste conforme necessário */
  bottom: 20px; /* Ajuste conforme necessário */
  color: #fff;
  z-index: 1000;
}

.slide-title {
  color: #fff;

  font-family: Inter;
  font-size: 3.875rem;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}

.slide-subtitle {
  color: #fff;

  font-family: "Myriad Pro";
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 0.3rem;
}
